body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(193, 234, 234);
}
h1 {
  font-size: 50px;
  color: rgba(255, 0, 0, 0.631);
}
form {
  background-color: beige;
  text-align: center;
  max-width: 400px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgb(133, 133, 183);
}
#enter {
  width: 50%;
  text-align: center;
  font-size: 2rem;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
}
label {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.466);
}
button {
  margin-top: 35px;
  background-color: bisque;
  font-size: 1.5rem;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: aquamarine;
}
#result {
  font-size: 1.75;
  font-weight: bold;
  color: rgba(0, 0, 255, 0.581);
}
